@model CourseShop.Core.Business.ViewModels.CourseViewModel

<div class="row">
    <h3>
        @Model.Name
    </h3>
</div>
<div class="row">
    <img src="@Model.ThumbnailPath" />
</div>

<br />
<div class="row">
    <div class="col s6">
        <b>Course description</b>
    </div>
    <div class="col s6">
        <b>Course details</b>
    </div>
</div>
<div class="row">
    <div class="col s6">
        @Model.Description
    </div>
    <div class="col s6">
        Price: @Model.Price <br />
        Length: @Model.ActualLength.TotalHours hours <br />
        Teachers: B. Popescu, I. Andrei <br />
    </div>
</div>
<div class="row">
    <div class="col s3 offset-s6">
        <a class="waves-effect waves-light btn">Add to cart</a>
    </div>
</div>